Repository pallets/click, pull requests merged in 2020-11, with the labels that each got.

#1698 Add update interval for progress bar
  CHANGES.rst
  src/click/_termui_impl.py
  src/click/termui.py
  tests/test_termui.py
Labels: f:progress bar

#1693 Case insensitive shell completions for Choice(..., case_sensitive=False)
  CHANGES.rst
  src/click/types.py
  tests/test_shell_completion.py
Labels: f:completion

#1719 Added FloatRange to API docs
  docs/api.rst
Labels: docs
