Repository pallets/click, pull requests merged in 2020-02, with the labels that each got.

#1310 Updated Multi Chaining commands to address options arguments order
  docs/commands.rst
Labels: docs

#1270 Rewrite the description for File System Isolation
  docs/testing.rst
Labels: docs

#1389 Add explicit example of default_map with top level options
  docs/commands.rst
Labels: docs

#1194 Don't claim empty stderrs weren't separately captured.
  CHANGES.rst
  click/testing.py
  tests/test_testing.py
Labels: ready

#1316 Increase readibility of 'why' page in docs
  docs/why.rst
Labels: docs

#1302 Adds a note that there is a behavior change after Python 3.7
  docs/python3.rst
Labels: docs

#1291 [Issue 1289] Advise users not to use prompt in conjunction with multiple in the documentation
  docs/options.rst
Labels: docs

#1308 update docs about multiple=True with type=Choice
  docs/options.rst
Labels: docs

#1467 [doc fix] makes @command name arg docs consistent.
  click/decorators.py
Labels: docs

#1448 Doc correction
  docs/options.rst
Labels: docs

#1221 Explicit explanation of the breaking change in 7.0
  docs/upgrading.rst
Labels: docs

#1136 Fix a memory leak and missing error check in _get_windows_argv
  CHANGES.rst
  click/_winconsole.py
Labels: windows

#1157 Clarify multiple options
  docs/bashcomplete.rst
  docs/options.rst
  docs/parameters.rst
  docs/utils.rst
Labels: docs

#1201 Modify the code about the custom multi commands.
  docs/commands.rst
Labels: docs

#1480 Backport ZSH autoloading to 7.1
  CHANGES.rst
  click/_bashcomplete.py
  tests/test_compat.py
Labels: completion

#1248 don't complete args that start with dash after double dash separator
  CHANGES.rst
  click/_bashcomplete.py
  tests/test_bashcomplete.py
Labels: completion

#1418 ZSH completions escape
  CHANGES.rst
  click/_bashcomplete.py
Labels: completion
