Repository pallets/click, pull requests merged in 2020-08, with the labels that each got.

#1621 non-chained group invoked without subcommand invokes result callback
  CHANGES.rst
  src/click/core.py
  tests/test_chain.py
Labels: f:chain

#1614 include mandatory parent arguments in help synposis
  CHANGES.rst
  src/click/core.py
  tests/test_arguments.py
Labels: f:help

#1617 Show flag name instead of True/False with Boolean flags
  CHANGES.rst
  src/click/core.py
  tests/test_options.py
Labels: f:help

#1645 show group.add_command in quickstart
  docs/quickstart.rst
Labels: docs

#1497 CliRunner isolation stdin has name and mode
  CHANGES.rst
  src/click/testing.py
  tests/test_testing.py
Labels: f:test runner

#1646 document that launch(wait) only works for blocking programs
  src/click/termui.py
Labels: docs

#1647 update API docs about custom ParamType requirements
  src/click/types.py
Labels: docs

#1661 Fixed a copy-paste typo in autocomplete
  docs/bashcomplete.rst
Labels: docs
