Repository pallets/click, pull requests merged in 2021-04, with the labels that each got.

#1830 expand patterns in Windows args
  CHANGES.rst
  src/click/core.py
  src/click/utils.py
  tests/test_utils.py
Labels: windows

#1834 test runner opens stderr with backslashreplace
  CHANGES.rst
  src/click/testing.py
  tests/test_testing.py
Labels: f:test runner

#1855 Update why.rst
  docs/why.rst
Labels: docs
